body{
  display: flex;
  position: absolute;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(30px);
  overflow: hidden;
  }
.dashWrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  gap: 0;
  position: relative;
  overflow: hidden;
}
.headerWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: auto;
  justify-content: space-around;
  margin: 0;
}
.headerBottomWrapper{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  padding: 0.5cm;
  background-color: #5400ff;
  border-radius: 0.4cm;
  align-self: center;
  gap: 1cm;
}

.headerTopWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5cm;
}

.profilewrapper {
  display: flex;
  align-items: center;
}
.headerProfileImg{
  width: 1cm;
  border-radius: 100%;
  height: auto;
}
.profileImgHolder{
  Display: flex;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  border-radius: 100%;
  border-style: solid;
  border-color: white;
  align-items: center;
  justify-content: center;
  border-width: medium;
}
.profileImgHolder{
  cursor: pointer;
}

.profileInfoHolder {
  margin-left: 10px;
}

.headerTopRightControlsHolder {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.2cm;
}

.notificationImg {
  width: 1cm;
  height: auto;
  cursor: pointer;
}

/* .bottomsheetWrapper {
  bottom: 0;
  background-color: #EFF5FE;
  padding: 0;
  border-style: none;
  border-top-right-radius: 0.4cm;
  border-top-left-radius: 0.4cm;
  display: flex;
  flex-direction: column;
  height: 20cm;
  z-index: 1;
  margin: 0;
  gap: 0;
  position: relative;
  width: 100%;

} */
.bottomsheetHeader {
  border-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  position: relative;
  background-color: transparent;
}
.bottomsheetBottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: fit-content;
  align-items: center;
}
.bottomsheetHeaderTop {
  position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5cm;
    background-color: transparent;
    margin: 0.1cm;
    padding: 0;
    left: 0;
    border-style: none;
    border-radius: 0;
    text-align: start;
    align-self: center;
    pointer-events: none;
}
.bottomsheetHeaderTopControlsHolder{
  display: flex;
  flex-direction: row;
  background-color: transparent;
  gap: 0.1cm;
  width: 100%;
  height: auto;
  justify-content: space-evenly;
}
.bottomsheetBottomBottomControlsHolder{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1cm;
  align-self: center;
}
.actionsTitle {
  font-size: 18px;
  font-weight: bold;
  color: black;
  align-self: center;
}
.sendControlGroup,
.withdrawControlGroup,
.topupControlGroup,
.sendtobankControlGroup {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
  background-color: white;
  width: 1.7cm;
  height: 1.7cm;
  border-radius: 0.4cm;
  border-style: none;
  align-items: center;
  justify-content: center;
  padding: 0.5cm;
}
.sendImg,
.withdrawImg,
.topupImg,
.sendtobankImg {
  width: 1cm;
  height: auto;
  margin-right: 10px;
  filter: invert(0.22) sepia(1) saturate(5) hue-rotate(210deg);
}
.sendText,
.withdrawText,
.topupText,
.sendtoBankText {
  font-size: 16px;
  color: black;
}
.sendControlGroup:hover,
.withdrawControlGroup:hover,
.topupControlGroup:hover,
.sendtobankControlGroup:hover {
  cursor: pointer;
}

.activityText {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  color: black;
  align-self: center;
}
.mpesaGroup {
  display: flex;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-top: 10px;
  flex-direction: row;
  gap: 0.5cm;
}

.mpesaImgHolder{
  display: flex;
  width: 1.5cm;
  height: 1.5cm;
  padding: 0;
  background-color: #011A51;
  border-radius: 100%;
  border-style: none;
  align-items: center;
  justify-content: center;
}
.mpesaImgHolder:hover{
  cursor: pointer;
}
.mpesaImg{
  width: 0.7cm;
  height: auto;
}

.nameAndGroupInfoHolder {
  display: flex;
  flex-direction: column;
}
.transactionType{
  font-size: 14px;
  color: #666;
  align-self: flex-end;
}
.transactionStatus {
  font-size: 14px;
  color: black;
  font-weight: bold;
}
.navbarWrapper {
  display: flex;
    justify-content: space-around;
    background-color: white;
    height: fit-content;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
    padding: 0.2cm;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);

}

.navbarHomeHolder,
.navbarActivityHolder,
.navbarPaymentHolder,
.navbarProfileHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;

}

.homeImg,
.activityImg,
.walletImg,
.navbarProfileImg {
  width: 0.7cm;
  height: auto;
  margin-bottom: 5px;
  cursor: pointer;
}
h1, h3, p {
  margin: 0;
  padding: 0;
}

.balanceHolder {
  margin-top: 10px;
  width: fit-content;
  height: fit-content;
}
.balanceText{
  font-size: large;
    color: white;
    font-weight: bold;
}
.balance{
  font-size: x-large;
    color: white;
    font-weight: 500;
}
.notificationGroup{
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  background-color: transparent;
  filter: invert(1);
}
.cardGroup{
  display: flex;
    flex-direction: row;
    width: 1cm;
    height: auto;
    background-color: white;
    border-radius: 0.5cm;
    padding: 0.1cm;
    justify-content: center;
    align-items: center;
}
.visaLogo{
  position: relative;
  width: 0.8cm;
  height: auto;
}
.visaLogo:hover{
  cursor: pointer;
}
.notificationImg{
  position: relative;
  width: 0.6cm;
  height: auto;
  filter: invert();
}
.notificationImg:hover{
  cursor: pointer;
}
.bottomsheetBottomBottomControlsWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: auto;
  background-color: transparent;
  align-items: center;
  justify-content: space-evenly;
  margin: 0.1cm;
}
.mpesaTitle{
  color: black;
}
.amount{
  color: #8d8d8d;
}
.profileNameText{
  color: white;
  font-weight: bold;
  font-size: large;
}
.profileTitleText{
  color: #5400ff;
  font-weight: 100;
}
.paymentUi{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cashlyLinkHolder{
position: relative;
background-color: transparent;
width: auto;
height: auto;
}
.cashlinkElement{
position: relative;
color: white;
text-decoration: none;
}
.cashlinkElement:hover{
  cursor: pointer;
  text-decoration: underline;
}
.paymentControlsHolder{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: auto;
  background-color: transparent;
  align-items: center;
  justify-content: space-evenly;
  margin: 0cm;
}
.btcInfoHolder{
  display: flex;
  width: auto;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.2cm;
}
.btcImg{
width: 1cm;
height: auto;
}
.btcPrice{
  font-size: large;
  font-weight: bold;
  color: darkgreen;
}
.btcTitle{
font-size: large;
}
.btcWrapper{
  display: flex;
  width: 85%;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  background-color: #d3d3d39c;
  padding: 0.5cm;
  border-radius: 0.4cm;
  box-shadow: 1px 4px 20px rgb(0 0 0 / 41%);
}
.loader {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  /* border: 4px solid rgba(255, 255, 255, 0.3); 
  border-top: 4px solid white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  display: inline-block; */
}
.loaderImg{
  width: 0.7cm;
  height: auto;
}
body{
    display: flex;
    position: absolute;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.mainProfilewrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 100%;
    height: 100%;
}

.profileWrapperHeader {
    display: flex;
    position: relative;
    flex-direction: row;
    margin: 0;
    padding: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    border-bottom-width: 0.08cm;
}

.profileWrapperContentHolder {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0cm;
    padding: 0;
    gap: 0cm;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.profileInfoHolder {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0cm;
    padding: 0;
    gap: 0cm;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: auto;
}

.backbuttonHolder {
    display: flex;
    position: absolute;
    left: 0;
    flex-direction: column;
    margin: 0.1cm;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 100%;
    padding: 0.3cm;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
}
.backbuttonHolder:hover{
    cursor: pointer;
}

.securityInfoHolder {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0cm;
    padding: 0;
    gap: 0cm;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: auto;
}

.moreHolder {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0cm;
    padding: 0;
    gap: 0cm;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: auto;
}


.profileWrapperTitle {

}

.leftArrowElement {
width: 0.5cm;
height: auto;
}

.rightArrowElement {
    width: 0.5cm;
    height: auto;
}

.profileInfoHolderTitle {

}

.yourProfile {

}

.accountVerification {

}

.securityInfoHolderTitle {

}

.changePassword {

}

.twofactorAuth {

}

.setYourPin {

}

.moreHolderTitle {

}

.Privacy {

}

.termsOfUse {

}

.language {

}

.logout {

}

.logoutImg {
    width: 0.5cm;
    height: auto;
}

.sendText {

}
.yourProfileHolder {
    display: flex;
    position: relative;
    flex-direction: row;
    margin: 0cm;
    padding: 0.2cm;
    gap: 0cm;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 0.1cm;
    transition: 0.1s ease-in-out;
}
.yourProfileHolder:hover{
    cursor: pointer;
    background-color: lightgray;
    transition: 0.1s ease-in-out;
}
.accountVerificationHolder {
    display: flex;
    position: relative;
    flex-direction: row;
    margin: 0cm;
    padding: 0.2cm;
    gap: 0cm;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 0.1cm;
    transition: 0.1s ease-in-out;
}
.accountVerificationHolder:hover{
    cursor: pointer;
    background-color: lightgray;
    transition: 0.1s ease-in-out;
}
.changePasswordHolder {
    display: flex;
    position: relative;
    flex-direction: row;
    margin: 0cm;
    padding: 0.2cm;
    gap: 0cm;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 0.1cm;
    transition: 0.1s ease-in-out;
}
.changePasswordHolder:hover{
    cursor: pointer;
    background-color: lightgray;
    transition: 0.1s ease-in-out;
}
.twofactorAuthHolder {
    display: flex;
    position: relative;
    flex-direction: row;
    margin: 0cm;
    padding: 0.2cm;
    gap: 0cm;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 0.1cm;
    transition: 0.1s ease-in-out;
}
.twofactorAuthHolder:hover{
    cursor: pointer;
    background-color: lightgray;
    transition: 0.1s ease-in-out;
}
.setYourPinHolder {
    display: flex;
    position: relative;
    flex-direction: row;
    margin: 0cm;
    padding: 0.2cm;
    gap: 0cm;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 0.1cm;
    transition: 0.1s ease-in-out;
}
.setYourPinHolder:hover{
    cursor: pointer;
    background-color: lightgray;
    transition: 0.1s ease-in-out;
}

.PrivacyHolder {
    display: flex;
    position: relative;
    flex-direction: row;
    margin: 0cm;
    padding: 0.2cm;
    gap: 0cm;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 0.1cm;
    transition: 0.1s ease-in-out;
}
.PrivacyHolder:hover{
    cursor: pointer;
    background-color: lightgray;
    transition: 0.1s ease-in-out;
}

.termsOfUseHolder {
    display: flex;
    position: relative;
    flex-direction: row;
    margin: 0cm;
    padding: 0.2cm;
    gap: 0cm;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 0.1cm;
    transition: 0.1s ease-in-out;
}
.termsOfUseHolder:hover{
    cursor: pointer;
    background-color: lightgray;
    transition: 0.1s ease-in-out;
}

.languageHolder {
    display: flex;
    position: relative;
    flex-direction: row;
    margin: 0cm;
    padding: 0.2cm;
    gap: 0cm;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 0.1cm;
    transition: 0.1s ease-in-out;
}
.languageHolder:hover{
    cursor: pointer;
    background-color: lightgray;
    transition: 0.1s ease-in-out;
}

.logoutHolder {
    display: flex;
    position: relative;
    flex-direction: row;
    margin: 0cm;
    padding: 0.2cm;
    gap: 0cm;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 0.1cm;
    transition: 0.1s ease-in-out;
}
.logoutHolder:hover{
    cursor: pointer;
    background-color: lightgray;
    transition: 0.1s ease-in-out;
}
.profileWrapperTitleHolder{
    position: relative;
    align-self: center;
    background-color: transparent;
}
.securityInfoHolderInnerContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    gap: 0.2cm;
    width: 100%;
    height: auto;
}
.yourProfileHolderInnerContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    gap: 0.2cm;
    width: 100%;
    height: auto;
}
.moreHolderInnerContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    gap: 0.2cm;
    width: 100%;
    height: auto;
}
.splash-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #330287;
  }
  .logo-image {
    width: 3cm;
    height: auto;
  }
  .logo-text {
    color: white;
    font-size: 2.5rem;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  .splash-wrapper {
    animation: fadeIn 1.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #161616;
} */

.mainWindow {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(43, 43, 43);
    border-radius: 16px;
    transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    z-index: -1;
}
/*  */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bottomsheetWrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 300px;
    background-color: #cfb8ff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    cursor: grab;
}

.bar {
    width: 40px;
    height: 6px;
    background-color: black;
    border-radius: 3px;
    margin: 10px 0;
}

.content {
    padding: 16px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/*# sourceMappingURL=styles.3ea07cf4bed1b956b9e4.css.map*/